.root {
  padding: 10px;
  list-style: none;
  color: #fff;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.statusInitial {
  background: #1997c6;
}

.statusProgress {
  background: #E4D836;
}

.statusDone {
  background: #1BC98E;
}

.statusFail {
  background: red;
}

.itemOptions {
  display: flex;
}

.itemOptions > * {
  margin-right: 10px;
}

.actionBtn {
  cursor: pointer;
}